*{
    margin: 0;
    padding: 0;
}

center{
    margin-top: 20px;
}

center .form{
    justify-content: center;
    align-items: center;
    background-color: black;
}

input{
    border: 0;
    outline: none;
    padding: 10px;
}