*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color: #fff;
    place-items: center;
}

.container{
    width: 30%;
    margin-left: 450px;
    margin-top: 80px;
    background-color: #212121;
    box-shadow: #000;
    padding: 45px;
    border-radius: 20px;
}

input,label{
    width: 395px;
    padding: 7px;
    font-size: 18px;
    margin: 3px;
    border: 0;
    outline: none;
}

.container img{
    height: 200px;
    width: 400px;
    margin-left: -40px;
}

form{
    margin-left: -38px;
}

.failed{
    color: tomato;
    font: 17px 'Cairo' sans-serif;
}

.success{
    color: greenyellow;
    font: 17px 'Cairo' sans-serif;
}